In [5]:
#import libraries
import pandas as pd
import numpy as np
import re

In [9]:
#Open Manufacturing workers data
df = pd.read_csv("data/manufacturing-workers-mexico-refined.csv")
df

      Year  Month             State                City  Manufacturing workers
0     2007      7  Baja California               Total                257798.0
1     2007      8  Baja California               Total                260827.0
2     2007      9  Baja California               Total                261260.0
3     2007     10  Baja California               Total                262512.0
4     2007     11  Baja California               Total                259918.0
...    ...    ...               ...                 ...                    ...
5389  2021      8           Sonora    Otros municipios                 54059.0
5390  2021      9           Sonora    Otros municipios                 54460.0
5391  2021     10           Sonora    Otros municipios                 56997.0
5392  2021     11           Sonora    Otros municipios                 57877.0
5393  2021     12           Sonora    Otros municipios                 57619.0

[5394 rows x 5 columns]